.news-header{
    background-image: linear-gradient(rgba(0, 0, 0, .4), rgba(0, 0, 0, .3)), url("../img/banner/banner9.jpg");
    height: 40vh;
    width: 100%;
    background-size: cover;
    background-position: top 45% right 0%;
    padding: 0 80px;
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
    box-shadow: rgba(149, 157, 165, 0.4) 0px 8px 15px;
}
.news-header h2{
    color: #FFF;
}

.news-header p{
    color: #FFF;
}

#news {
    padding: 150px 150px 0 150px;
}

#news .news-box{
    display: flex;
    align-items: center;
    width:100%;
    position: relative;
    padding-bottom: 150px;
}

#news .news-img{
    width: 50%;
    margin-right: 40px;
}

#news img{
    width: 100%;
    height: 300px;
    object-fit: cover;
}

#news .news-details{
    width: 50%;
    font-size: 18px;
}

#news .news-details a{
    text-decoration: none;
    font: 11px;
    color: #B5A4A3;
    position: relative;
    transition: 0.2s;
    font-weight: 600;
}

#news .news-details a:hover {
    color: #839493;
}

#news .news-details a::after{
    content:"";
    width:60px;
    height: 2px;
    background-color: #B5A4A3;
    position: absolute;
    top:7px;
    right:-90px;
}
#news .news-details a:hover:after{
    background-color:#839493;
}

#news .news-box h1{
    position: absolute;
    top: -45px;
    left: 0;
    font-size: 60px;
    font-weight: 700;
    color: #d9dede;
    z-index: -1;
}

#pagination{
    text-align: center;
  }

  #pagination a{
    text-decoration: none;
    background-color: #839493;
    padding: 15px 20px;
    border-radius: 50%;
    color: #FFF;
    font-weight: 400;
  }

  #pagination a i{
    font-size: 16px;
    font-weight:400;
  }

  @media (max-width:799px) {
    #news .news-box h1{
        font-size: 40px;
    }
  }

  @media (max-width:477px) {
    #news .news-box{
        display: flex;
        flex-direction: column;
        align-items: flex-start;
    }
    #news{
        padding: 100px 20px 0 20px;
    }
    #news .news-img{
        margin-right:0;
        width: 100%;
        margin-bottom: 30px;
    }

    #news .news-details{
        width: 100%;
    }
  }