#product-details {
  display: flex;
  margin-top: 20px;
}

#product-details .single-product-image {
  width: 40%;
  margin-right: 50px;
}

#product-details .single-product-details {
  width: 50%;
  padding-top: 30px;
}

#product-details .single-product-details h4 {
  padding: 40px 0 20px 0;
  font-size: 30px;
}

#product-details .single-product-details h2 {
  font-size: 30px;
}

#product-details .single-product-details {
  padding: 40px 0 20px 0;
}

#product-details .single-product-details input {
  padding-left: 10px;
  width: 50px;
  height: 43px;
  font-size: 16px;
  margin-right: 10px;
  border-radius: 5px;
  border: 0.5px soild #9eacab;
}

#product-details .single-product-details button {
  background-color: #9eacab;
  color: #fff;
}

#product-details .single-product-details input:focus {
  outline: none;
}

#product-details .single-product-details span {
  line-height: 25px;
}
#product-details .single-product-details i {
  font-size: 12px;
  color: #cfbdb7;
  margin-top: 10px;
  margin-bottom: 20px;
}

.section-p1 h2 {
  text-align: center;
}

@media (max-width: 477px) {
  #product-details {
    display: flex;
    flex-direction: column;
  }
  #product-details .single-product-image {
    width: 100%;
    margin-right: 0px;
  }
  #product-details .single-product-details {
    width: 100%;
  }
}
